DATABASE_URL=mongodb://mongo:27017/kyc-vault
JWT_SECRET=your_jwt_secret
NODE_ENV=development
PORT=3000
REACT_APP_API_URL=http://localhost:3000/api
REACT_APP_UPLOAD_URL=http://localhost:3000/api/upload